.sbui-input-container {
  @apply relative;
}

.sbui-input {
  height: 50px;
  font-size: 16px;
  padding: 11px 15px;
  border-radius: 4px;
  border: 1px solid #CBD8E3;
  width: 100%;
  outline: none;
  box-sizing: border-box;
  background-color: #333333;
  color: #fff;
}
.placeholder {
  pointer-events: none;
  position: absolute;
  font-weight: 400;
  top: 18px;
  left: 8px;
  padding: 0 8px;
  background-color: #333333;
  border-radius: 5px;
  transition: transform 250ms cubic-bezier(0.4,0,0.2,1), opacity 250ms cubic-bezier(0.4,0,0.2,1);
  color: grey;
}

.sbui-input:not(:placeholder-shown).sbui-input:not(:focus) + .placeholder {
  transform: scale(.75) translateY(-36px) translateX(-15%);
  color: #CBD8E3;
  transition: .2s ease;
}

.sbui-input:focus {
  border-color: #2c9c6a;
  box-shadow: 0 0 0 1px #2c9c6a;
} 

.sbui-input:focus + .placeholder {
  transform: scale(.75) translateY(-36px) translateX(-15%);
  color: #2c9c6a;
  transition: .2s ease;
  font-weight: 500;
} 

.sbui-input:invalid:not(:placeholder-shown){
  transition: .2s ease;
  border-color:#F52C5C;
  box-shadow: 0 0 0 1px #F52C5C;
}

.sbui-input:invalid:not(:placeholder-shown) + .placeholder{
  transition: .2s ease;
  color:#F52C5C;
}
.sbui-input:invalid:not(:placeholder-shown).sbui-input:not(:focus) + .placeholder {
  transform: scale(.75) translateY(-36px) translateX(-15%);
  color: #F52C5C;
  transition: .2s ease;
}
